.App {
	text-align: center;
	background-color: rgb(240, 243, 246)
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: rgb(95, 124, 162);
	height: 200px;
	padding: 20px;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

.container {
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.optionsContainer {
	display: flex;
	justify-content: left;
	padding-bottom: 40px
}

.searchBarItem {
	flex-basis: auto
}

.flexItem {
	flex-basis: auto;
}

.mainContainer {
	display: grid;
	grid-template-columns: 50% 50%;
}

.mainItemMap {
	justify-self: center;
}
.mainItemDoctors {
	justify-self: center;
	grid-column-start: 2;
}

.oswald {
	font-family: 'Oswald', sans-serif;
}
